@charset "UTF-8";
body {
  background-color: rgb(243, 239, 239);
  margin: 0 auto;
  box-sizing: border-box;
}
.second {
  text-align: center;
  font-size: 1.5em;
}
.pic {
  display: inline-block;
  margin: 0 auto;
}
.card {
  border: 1px solid lightgrey;
  border-radius: 5%;
  margin: 10px 1.5px;
}
p {
  text-align: center;
}

.second {
  text-align: center;
  font-size: 1.5em;
}
.menubar {
  width: 95vw;
  padding: 0px 20px 20px 20px;
  background: #ddd;
  box-shadow: 0 0 30px rgba(237, 238, 245, 0.5);
}

.menubar h1,
h2 {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}
p.one {
  font-weight: bolder;
  margin: 0;
}
p.two {
  font-size: 10px;
  font-weight: bolder;
  color: rgb(31, 26, 26);
  margin: 0;
}

.todo-input {
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 5px;
}
.todos-menubar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.todo-item {
  background-color: #14ea14;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  width: calc(33.33% -7px);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
}
.todo-item:hover {
  background-color: #ddd;
}

.delete-btn {
  display: none;
  position: absolute;
  top: 2px;
  right: 5px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
}
.todo-item:hover .delete-btn {
  display: block;
}
